/* ========== Accordion ========== */

.accordion-activity .accordion-item {
  padding-inline: 1rem;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

.accordion-activity .accordion-title {
  flex-direction: column;
  font-size: var(--text-base);
  align-items: start;

  & > :first-child {
    width: 100%;

    @variant md {
      max-width: 10rem;
    }
  }

  & > :last-child {
    font-size: var(--text-lg);
  }

  @variant md {
    flex-direction: row;
    align-items: center;
  }
}

.accordion-item {
  border-top: 1px solid var(--color-gray-300);

  &:last-child {
    border-bottom: 1px solid var(--color-gray-300);
  }
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.5rem;
  width: 100%;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  text-align: left;
  gap: 0.25rem;
}

.accordion-title {
  display: flex;
  flex: 1;
  align-items: center;
  gap: .5rem;
  font-size: var(--text-xl);
  font-weight: 700;
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
}

.accordion-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  background-color: var(--color-slate-100);
  transition: transform 0.3s ease;
}

.accordion-icon--open {
  transform: rotate(45deg);
}

.accordion-icon img {
  width: 1.5rem;
  height: 1.5rem;
}

.accordion-body {
  font-size: var(--text-base);
  line-height: var(--leading-tight);
  letter-spacing: var(--tracking-tight);
  color: var(--color-neutral-600);
  padding-bottom: 2rem;

  @variant md {
    font-size: var(--text-lg);
    padding-right: 4rem;
  }
}
