@layer components {
  .glow-reveal {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
  }

  .glow-reveal-visible {
    opacity: 1;
    transform: translateY(0);
  }
}
